.rank-detail.x-d-ib
    .x-d-ib.x-vam.mr-15(class=flagIcon)
    .rank.x-d-ib.x-vam.mr-15 #{rank}
    .default-avatar-sm.x-br-50.x-d-ib.x-vam(style=headimg ? 'background:url(' + headimg + ')' : '')
    .detail.x-d-ib.x-vam
        div #{nickname}
        .sub-txt #{pfid}
        .sub-txt #{score}浪潮